<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Amazon Parallel Suite " parallel="classes" verbose="1" >
    <test name="cucumber tests">
        <classes>
            <class name="runner.TestNGTest"/>

<!--            <class name="com.example.TestClass2"/>-->

        </classes>
    </test>
</suite>
